'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Pair Now'
      'submenu': [
        {
          'label': 'Start a session'
          'command': 'pair-now:newSession'
        },
        {
          'label': 'Join a session'
          'command': 'pair-now:joinSession'
        }
      ]
    ]
  }
]
