atom-text-editor::shadow {
  .highlight.pair-now-cursor .region {
    border-right: solid red 3px;
  }

  .line.pair-now-cursor::before {
    content: ' ';
    display: inline-block;
    background: red;
    width: 3px;
    margin-right: -3px;
  }
}
